/* GENERAL */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
}
h1, h2, h3 {
	margin: 0;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}
/* NAVIGATION */
.navigation {
	padding: 0;
	background-color: #008db1;
}
.navigation > a {
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #f1f1f1;
	text-decoration: none;
}
.navigation ul {
	width: 100%;
	padding: 0;
	list-style: none;
}
.navigation ul li {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.navigation ul li a {
	color: #f1f1f1;
	text-decoration: none;
}
/* HEADER */
.header {
	background-color: #008db1;
	color: #f1f1f1;
}
.header h1 {
	padding: 10px;
	border: 3px solid #ffffff;
}
.header i {
	margin-top: 20px;
}
/* FEATURES */
#features {
	background-color: #9c29b7;
	color: #f1f1f1;
}
#features div img {
	width: 150px;
	height: 150px;
	background-color: #ffffff;
	border: 5px solid #cecece;
}
#features div h3 {
	margin: 15px 0;
}
/* BROWSE NOW */
#browse-now {
	background-image: url('../img/bg-browse-now.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#browse-now div img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#browse-now div h3 {
	margin: 15px 0;
}
/* FOOTER */
footer {
	margin: 0;
	padding: 10px;
	background-color: #008db1;
	text-align: center;
	color: #f1f1f1;
}