/* GENERAL */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #4d4d4d;
}
h1, h2, h3 {
	margin: 0;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}
/* NAVIGATION */
.navigation {
	padding: 0;
	background-color: #008db1;
}
.navigation > a {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 28px;
	color: #f1f1f1;
	text-decoration: none;
}
.navigation ul {
	width: 100%;
	padding: 0;
	list-style: none;
}
.navigation ul li {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.navigation ul li a {
	color: #f1f1f1;
	text-decoration: none;
}
/* HEADER */
.header {
	background-color: #008db1;
	color: #f1f1f1;
}
.header h1 {
	padding: 10px;
	border: 3px solid #ffffff;
}
.header i {
	margin-top: 100px;
}
/* FEATURES */
#features {
	background-color: #008b8b;
	color: #f1f1f1;
}
#aspects {
	width: 100%;
	padding: 0;
}
#aspects div img {
	width: 150px;
	height: 150px;
	padding: 5px;
	background-color: #ffffff;
	border: 5px solid #cecece;
}
#aspects div h3 {
	margin: 15px 0;
}
/* BROWSE NOW */
#browse-now div img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
#browse-now div h3 {
	margin: 15px 0;
}
/* FOOTER */
footer {
	padding: 20px;
	background-color: #4d4d4d;
	text-align: center;
	color: #f1f1f1;
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	/* NAVIGATION */
	.navigation {
		flex-direction: row;
		justify-content: space-around;
	}
	.navigation ul {
		flex-direction: row;
		width: 70%;
	}
	/* HEADER */
	.header {
		height: 500px;
		justify-content: center;
	}
	/* FEATURES  */
	#features {
		height: 600px;
		justify-content: center;
	}
	#aspects {
		flex-direction: row;
		justify-content: space-between;
		max-width: 900px;
		margin-top: 30px;
	}
	#aspects div img {
		width: 200px;
		height: 200px;
	}
	/* BROWSE NOW */
	#browse-now {
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 1000px;
		height: 500px;
		margin: 0 auto;
		justify-content: space-around;
	}
	#browse-now h2, p {
		width: 100%;
	}
}